<%- include('../layouts/header.ejs') %>

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header m-0 row">
                        <div class="text-center col-6">
                            <h6>CHI TIẾT <span class="text-primary"><%- product.name %></span></h6>
                        </div>
                        <div class="text-center col-6">
                            <h6>CHỈNH SỬA <span class="text-primary"><%- product.name %></span></h6>

                        </div>
                    </div>
                    <div class="card-body  px-5 ">
                        <div class="table-responsive d-flex p-0">
                            <div class="row  p-2 col-6">
                                <div class="col-lg-12">
                                    <label for="">Hình Ảnh Sẩn Phẩm</label>
                                    <p class="text-center"> <img src="/images/product/<%- product.img %>" alt=""
                                            class="w-50 img-fuild"></p>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">Tên Sản Phẩm</label>
                                    <p><%- product.name %></span>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">Tác Giả</label>
                                    <p><%- product.author %></p>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">Danh Mục</label>
                                    <p><%- category.name %></p>
                                </div>

                                <div class="col-lg-3">
                                    <label for="">Giá</label>
                                    <p><%- product.price %></p>
                                </div>
                                <div class="col-lg-6 ">
                                    <label for="">Ngày Nhập</label>
                                    <p><%- product.date %></p>
                                </div>
                                <div class="col-lg-12 ">
                                    <label for="">Mô Tả</label>
                                    <p class="small"><%- product.description %></p>
                                </div>

                            </div>
                            <div class="row p-2 col-6">
                                <form action="">
                                    <input type="hidden" name="id" id="id" />

                                    <div class="col-lg-12">
                                        <label for="">Tên Sản Phẩm</label>
                                        <input type="text" name="name" id="name" placeholder="Nhập Tên Sản Phẩm"
                                            value="<%- product.name %>" class="form-control" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="author">Tác Giả</label>
                                        <input type="text" name="author" id="author" value="<%- product.author %>"
                                            placeholder="Tác Giả" class="form-control" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="">Giá</label>
                                        <input type="number" name="price" id="price" placeholder="Nhập Giá SẢN PHẨM"
                                            value="<%- product.price %>" class="form-control" />
                                    </div>



                                    <div class="col-lg-12">
                                        <label for="">Hình Ảnh Sẩn Phẩm</label>
                                        <input type="hidden" value="<%- product.img %>">
                                        <input type="file" name="image" id="image" onchange="handleImageChange(event)"
                                            class="form-control" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="">Danh Mục</label>
                                        <select class="form-control" name="cate_id" id="cate_id">
                                            <% category.map(element=> { %>

                                                <% if (element.idcategory===product.idcategory) { %>
                                                    <option value="<%- element.idcategory %>" selected><%- element.name
                                                            %></option>
                                                    <% } else { %>
                                                        <option value="<%- element.idcategory %>"><%- element.name %>
                                                        </option>
                                                        <% } %>
                                                            <% }); %>

                                        </select>
                                    </div>



                                    
                                    <div class="col-lg-12">
                                        <label for="">Ngày Nhập</label>
                                        <p><%- product.date %></p>
                                        <input type="text" name="addDate" id="addDate" hidden
                                            value="<%- product.date %>" placeholder="Ngày Tự Động Cập Nhật"
                                            class="form-control" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="">Mô Tả</label>
                                        <textarea type="text" name="description" id="description" cols="30" rows="10"
                                            class="form-control"><%- product.description %></textarea>
                                    </div>
                                    <div class="d-flex mt-5 justify-content-lg-end">
                                        <button type="button" class="d-flex btn btn-primary" onclick="">
                                            SỬA
                                        </button>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs') %>